@charset "utf-8";

@font-face {
  font-family: 'KOTRAHOPE';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2110@1.0/KOTRAHOPE.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

p.typing-txt {
  font-size: 50px;
  display: block;
  font-family: 'KOTRAHOPE';
  display: none;
  text-align: center;
}


.typing {
  font-size: 50px;
  text-align: center;
  font-family: 'KOTRAHOPE';
  display: block;
  padding-top: 22.5%;
}